
@font-face{font-family:"nanum";src:url(NanumPen.ttf);}
@font-face{font-family:"nomal";}
body{
font-family:"nanum";
}




h1 {
	font-weight: bold;
	margin: 1em 0 1em 10px;
	text-align: left;
	margin:0 0 0 0px;
	padding:0;
	font-size:1.5em;
	color:#7e5232;

	
}
h2 { 
	margin:20px 0 0 10px;
	padding:0;
	style="-moz-column-break-before:always;-webkit-column-break-before:always;"
}
h3 { color:#6dacc4;}

p {
	line-height: 1.6em;
	text-align: justify;
	text-indent: 0.5em;
}

p.imgsp {
	text-align: center;
}

p.sp {
	margin-top: 2.5em;
}


ul {
	margin:0px;
	padding:0;
	line-height:1.6em;
	list-style-type:none;
}

li {
	margin:0px;
	padding:0;
	list-style-type:none;
	line-height:1.6em;
}

p.container {
	line-height: 1.6em;
	padding: 0.5em 0 0 0;
	text-align: center;
	text-indent: 0.5em;
}

p.container.sp {
	margin-top: 2.5em;
}

p.container.imgsp {
	text-align: center;
}

.le10 { margin-left:10px; }
.le20 { margin-left:20px; }
.le30 { margin-left:30px; }
.le40 { margin-left:40px; }
.le50 { margin-left:50px; }

p img {
	border:1px solid #CCC;
}


.pagebreak {
	-moz-column-break-before:always;
	-webkit-column-break-before:always;
}


#explain { width:100%; height:100%;  border:1px dotted #eee6d9; background:#fef9f2; padding-top:10px;  font-size:0.8em; color:#c6b69d;  }



